# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3dbf56e1c5f59067396a.json
cmake-build-debug/.cmake/api/v1/reply/target-Interpreter-Debug-4d5c5001acfe3d8933f4.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-07-15T17-26-09-0024.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4885d764654bd5c637b1.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f2c31b0c897a1b8a2371.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-dc9b8f8505cd734d5c02.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Interpreter.iml
.idea/editor.xml
.DS_Store
pythontest.py
cmake-build-debug/Interpreter
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/index-2024-07-15T20-05-13-0169.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-974688de296c8a4cff06.json
CMakeLists.txt
CMakeLists.txt
*.txt
